@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rudaw";
  src: url("./assets/fonts/rudawregular.ttf") format("truetype");
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.5px;
  }
}

::-webkit-scrollbar {
  width: 0.8em;
  background-color: #223354;
  border-radius: 100vw !important;
}

::-webkit-scrollbar-track {
  background-color: #223354;
  border-radius: 100vw !important;
}

::-webkit-scrollbar-thumb {
  background-color: #2b7bd6;
  border-radius: 100vw !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4895ef;
}
